img {
  width: 100%;
}

.blue {
  color: #58a2de;
}

#logo {
  width: 100px;
  height: auto;
  padding-right: 20px;
}

.dropdown-toggle::after {
  border: none;
  content: url(./img/chevron-down-solid.svg);
  width: 10px;
  vertical-align: 0;
}

.lens {
  width: 50%;
}

.hero {
  background-image: url(./img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .row,
.important-game .row {
  height: 600px;
}

.gallery-img {
  border-radius: 10px;
}

.important-game {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ps5_acc div {
  opacity: 0.5;
}

.ps5_acc div:hover {
  border-bottom: 2px solid #58a2de;
  opacity: 1;
}

#active {
  border-bottom: 2px solid #58a2de;
  opacity: 1;
}

.banner {
  background-color: #bebcbb;
  /* background-image: url(./img/ps-plus-april-monthly-games-featured-image-block.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; */
}

.btn_plus {
  color: #58a2de;
  background-color: #ebe8e6;
}
