img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.btn-dark:hover {
  border: 2px solid #000;
  box-shadow: inset 0 0 0 2px #fff;
}

.btn-danger:hover {
  border: 2px solid #cd3d0e;
  box-shadow: inset 0 0 0 2px #000;
}

.btn-primary:hover {
  border: 2px solid #2d64e6;
  box-shadow: inset 0 0 0 2px #fff;
}

.blue {
  color: #2d64e6;
}

#logo {
  width: 100px;
  height: auto;
  padding-right: 20px;
}

.dropdown-toggle::after {
  border: none;
  content: url(./img/chevron-down-solid.svg);
  width: 10px;
  vertical-align: 0;
}

.lens {
  width: 50%;
}

.hero {
  background-image: url(./img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .row,
.important-game .row {
  height: 70vh;
}

.card:hover {
  transform: translateY(-20px);
}

.gallery-img {
  border-radius: 20px;
}

.active .gallery-img,
.gallery-img:hover {
  border: 3px solid #2d64e6;
  box-shadow: inset 0 0 0 1px #fff;
}

.gallery-img:hover {
  transform: translateY(-20px);
}

.important-game {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ps5_acc div {
  opacity: 0.5;
}

.ps5_acc div:hover {
  border-bottom: 2px solid #58a2de;
  opacity: 1;
}

#active {
  border-bottom: 2px solid #58a2de;
  opacity: 1;
}

.banner {
  background-color: #bebcbb;
}

.btn_plus {
  color: #58a2de;
  background-color: #ebe8e6;
}

.banner-2 {
  background-color: #161c3b;
}

.btn_now {
  color: #000;
  background-color: #fff;
}

footer {
  background-color: #00439c;
}

#logo-foot {
  width: 100px;
}

.foot_lang img {
  width: 20px;
}

.sie {
  width: 150px;
}

footer span {
  text-decoration: underline;
}
