img {
  width: 100%;
}

.blue {
  color: #58a2de;
}

#logo {
  width: 100px;
  height: auto;
}

.dropdown-toggle::after {
  border: none;
  content: url(./img/chevron-down-solid.svg);
  width: 10px;
  vertical-align: 0;
}

.lens {
  width: 50%;
}

.hero {
  background-image: url(./img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .row,
.important-game .row {
  height: 600px;
}

.gallery-img {
  border-radius: 10px;
}

.important-game {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
